.dialogs {
display: grid;
grid-template-columns: 200px 100%;
padding: 15px;
}

.dialogsUsers {



}

.user {
margin-bottom: 10px;
border-radius: 30px;
vertical-align: middle;
padding-right: 10px;

}

.field {
    font-weight: 600;
    font-size:14px
}

.message {
margin-bottom: 53.5px; 
}