  .posts {
    font-size: 20px;
    text-align: center;
    font-style: italic;
  }
  .content {
    padding: 10px;
  }

  .field {
    font-weight: 600;
    font-size: 14px
}
.text {
  width: 300px;
}

.postsButton {
  margin: 5px 0px 50px;
}

